# keep env.rb out of version control

ENV['SERVER'] = "irc.renaissance.example"
ENV['CHANNELS'] = "#renaissance,#example"
ENV['NICK'] = "renaissance"

ENV['STEAM_WEB_API_KEY'] = "00000000000000000000000000000000"
